$white: rgb(255, 255, 255);
$dark-grey: rgb(205, 205, 205);
$light-grey: rgb(243, 243, 243);
$red: rgb(255, 0, 0);
$black: rgb(0, 0, 0);
$highlight: rgb(202, 255, 254);
$blue: rgb(39, 244, 255);
$yellow: rgb(255, 234, 47);